*,
*::before,
*::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body
{
    width: 300px;
    height: 400px;
    background-color: #181822;
    color: #ddd;
}

.container
{
    padding: 1.5em;
}

h1
{
    text-align: center;
}